<div class="container generate-container">

    <app-header selected="generate"></app-header>

    <!-- To display error message -->
    <div  ng-if="wsdl.hasError">
        <ng-include src="'errorTemplate.html'"></ng-include>
    </div>

    <div ng-hide="wsdl.showDialog">
        <ng-include src="'modules/generate/dialog.html'"></ng-include>
    </div>

    <div class="row form-div">

        <div class="col-md-8">
            <form name="wsdlForm" novalidate role="form" ng-submit="generateWsdl(wsdl.wsdlObject)">

                <h2><strong>Generate WSDL</strong></h2>
                <br>
                <div class="form-control form-input-div" ng-class="{ 'hasError' : wsdlForm.serviceName.$invalid && !wsdlForm.serviceName.$pristine }">
                    <label class="form-input-text" for="serviceName">Web Service Name</label>
                    <input type="text" class="form-input-box form-control" name="serviceName" ng-model="wsdl.wsdlObject.serviceName" id="serviceName"
                    placeholder="Enter Service Name" ngvalidate-character required>
                </div>
                <small class="error-label errorTxt" ng-if="wsdlForm.serviceName.$dirty && wsdlForm.serviceName.$error.ngvalidateCharacter">{{::SERVICE_NAME_ERR }}</small>
                <br>
                <br>
                <div class="form-control form-input-div" ng-class="{ 'hasError' : wsdlForm.targetNamespace.$invalid && !wsdlForm.targetNamespace.$pristine }">
                    <label class="form-input-text" for="targetNamespace">Target Namespace</label>
                    <div class="input-group">
                        <input type="text" class="form-input-box form-control " id="targetNamespace" name="targetNamespace" placeholder="Enter Target Namespace"
                        ng-model="wsdl.wsdlObject.targetNamespace" ngvalidate-target-namespace>
                    </div>
                </div>
                <small class="float-left"><i>For Example: http://www.examples.com/HelloWorldService</i></small>
                <br>
                <small  class="float-left errorTxt" ng-show="wsdlForm.targetNamespace.$dirty && wsdlForm.targetNamespace.$error.ngvalidateTargetNamespace">{{::TARGET_NAMESPACE_ERR }}</small>
                <br><br>

                <ngbutton-template wsdl="wsdl" add-request-element="addRequestElement(wsdl)" add-response-element="addResponseElement(wsdl)" add-request-message="addRequestMessage(wsdl)"
                add-response-message="addResponseMessage(wsdl)" add-operation="addOperation(wsdl)" add-soap-address="addSoapAddress(wsdl)"></ngbutton-template>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

    <app-footer ></app-footer>
</div>