<div>    
    <div class="float-left margin-left-10perc">
        <input type="button" ng-click="addRequestElement(me)"  id="requestEle" ng-disabled="me.disableReqEle" value="Add Request Element" class="btn btn-primary button-cls">
    </div>
    <div class="float-left margin-left-10perc">
        <input type="button" ng-click="addResponseElement(me)" id="responseEle" ng-disabled="me.disableResEle" value="Add Response Element" class="btn btn-primary button-cls">
    </div>
    <div class="clear-both"></div>
    
    <br>
    <div class="float-left margin-left-10perc">
        <input type="button"  id="requestEle" ng-click="addRequestMessage(me.wsdlObject)" ng-disabled="me.disableReqMsg" value="Add Request Message" class="btn btn-primary button-cls">
    </div>
    <div class="float-left margin-left-10perc">
        <input type="button"  id="responseEle" ng-click="addResponseMessage(me.wsdlObject)" ng-disabled="me.disableResMsg" value="Add Response Message" class="btn btn-primary button-cls">
    </div>
    <div class="clear-both"></div>
    
    <br>
    <div class="textalign-center">
        <input type="submit" style="margin-right: 5px;" ng-disabled="me.disableGenerate" id="generate" value="Generate" class="btn btn-primary">
    </div>
</div>