<div ng-show="wsdl.showReqEle">
    
    <!-- To display error message -->
    <div ng-cloak ng-if="wsdl.errorExist">
        <br>
        <ng-include src="'views/templates/error.tpl.html'"></ng-include>
    </div>
    
    <form role='form' name='elementForm'>
        <h2>Add Request Elements</h2>
        <br>
        <div ng-repeat="reqElement in wsdl.wsdlObject.requestElements">
            <div class="form-control form-input-div" ng-class="{ 'hasError' : elementForm.{{reqElement.id}}.$invalid && !elementForm.{{reqElement.id}}.$pristine }">
                <label class="form-input-text" for="eleName">Request Element Name</label>
                <input type="text" class="form-input-box form-control" name="{{reqElement.id}}" ng-model="reqElement.name" id="{{reqElement.id}}"
                placeholder="Enter Name" ngvalidate-Character required>
            </div>
            <small class="errorTxt" ng-show="elementForm.{{reqElement.id}}.$dirty && elementForm.{{reqElement.id}}.$error.ngvalidateCharacter">{{::REQ_ELE_NAME_ERR }}</small>
            <br>
            <div>
                <label style="margin-top:4px;" for="request">Elements</label>
                <button type="button" ng-click="addElement(reqElement)" ng-disabled="wsdl.elementLimit" class=" btn  btn-primary float-right">Add Element</button>
            </div>
            <div ng-repeat="element in reqElement.elements">
                <br>
                <div class="float-left elementDiv">
                    <input type="text" ng-class="{ 'hasError' : elementForm.{{element.id}}.$invalid && !elementForm.{{element.id}}.$pristine }"
                    class="element-box form-control float-left" name="{{element.id}}" id="{{element.id}}" placeholder="Enter Input Element"
                    ng-model="element.input" ngvalidate-Alphanumeric required>
                    <small class="errorTxt" ng-show="elementForm.{{element.id}}.$dirty && elementForm.{{element.id}}.$error.ngvalidateAlphanumeric">{{::ELEMENT_NAME_ERR }}</small>
                </div>

                <div class="float-left">
                    <select class="float-left form-control data-type-options" ng-model="element.dataType" ng-options="v for v in wsdl.dataTypes"></select>
                    <button type="button" ng-click="removeElement(reqElement)" class="delete-icon btn btn-sm btn-danger">
                        <i class="glyphicon glyphicon-remove">
                            </i>
                    </button>
                </div>
                <br>
                <br>
            </div>
            <br>
        </div>
        <input type="submit" ng-click="add()" ng-disabled="elementForm.$invalid" ng-hide="wsdl.wsdlObject.requestElements.length < 1"
        class="btn btn-primary" value="Add" id="add">
    </form>
</div>