<div ng-show="wsdl.showResMsg">
    <!-- To display error message -->
    <div ng-cloak ng-if="wsdl.errorExist">
        <br>
        <ng-include src="'views/templates/error.tpl.html'"></ng-include>
    </div>
    
    <form role='form' name='messageForm'>
        <h2>Add SOAP Response Message</h2>
        <br>
        <div ng-repeat="message in wsdl.wsdlObject.responseMessages">
            <div class="form-control form-input-div" ng-class="{ 'hasError' : messageForm.{{message.id}}.$invalid && !messageForm.{{message.id}}.$pristine }">
                <label class="form-input-text" >Response Message Name</label>
                <input type="text" class="form-input-box form-control" name="{{message.id}}" ng-model="message.messageName" id="{{message.id}}"
                placeholder="Enter Name" ngvalidate-Alphanumeric >
            </div>
            <small class="errorTxt" ng-show="messageForm.{{message.id}}.$dirty && messageForm.{{message.id}}.$error.ngvalidateAlphanumeric">{{::RES_MSG_NAME_ERR }}</small>
            <br><br>
            <div class="form-control form-input-div">
                <label class="form-input-text" >Map to Request Element</label>
                <select class="float-left form-control form-input-box" ng-model="message.responseElement.name" ng-options="v as v.name for v in wsdl.wsdlObject.responseElements" required></select>
            </div>
            <br>
         </div>
         <br>
        <input type="submit" ng-click="add()" ng-disabled="messageForm.$invalid"  ng-hide="wsdl.wsdlObject.responseMessages.length < 1" class="btn btn-primary" value="Add" id="add">
    </form>
</div>