body {
  background: #eeeeee !important;
  background-color: #eeeeee !important;
  color: #5e5e5e;
}
h1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #5e5e5e;
}
.heading {
  font-size: 44px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-both {
  clear: both;
}
.display-block {
  display: block;
}
.border-lightBlack {
  border: 1px solid #5e5e5e;
}
.warningDiv {
  width: 66%;
}
.generate-container {
  padding-left: 30px;
  padding-right: 30px;
}
.sectionDiv {
  background-color: #f8f8f8;
  border: 1px solid #5e5e5e;
  border-radius: 4px;
}
.header-section {
  color: #5e5e5e;
  background-color: transaprent;
  padding: 20px;
}
.errorTxt {
  color: red;
  font-size: 12px;
}
.hasError {
  border: 1px solid #ff0000 !important;
}
.input-group {
  width: 100% !important;
}
.form-div {
  margin-left: 30%;
}
.textalign-center {
  text-align: center;
}
.navbar-nav > li > a {
  font-weight: bold;
}
.navbar-nav > li > a:hover {
  color: #4078c0 !important;
  text-decoration: none;
}
.form-input-div {
  display: table;
  width: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 0;
  vertical-align: middle;
  border: 1px solid #666666;
}
.form-input-box {
  background: none;
  display: table-cell;
  width: 100%;
  min-height: 26px;
  border: 0;
  box-shadow: none;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  box-shadow: none !important;
}
.form-input-text {
  display: table-cell;
  width: 28%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid #666;
  padding-right: 8px;
  padding-left: 8px;
  vertical-align: middle;
  white-space: nowrap;
}
.readonlyClass {
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
}
.margin-left-10perc {
  margin-left: 10%;
}
.button-cls {
  width: 170px;
}
.delete-icon {
  margin-left: 8px;
  position: absolute;
  line-height: 1.8;
}
.element-box {
  width: 100%;
}
.data-type-options {
  margin-left: 8px;
  width: 100%;
}
.btn-icon {
  padding: 6px 12px !important;
}
.elementDiv {
  display: table;
}
.elementDiv .element-box {
  display: table-row;
}
.elementDiv .errorTxt {
  display: table-row;
}
