<!DOCTYPE html>
<html ng-app="wsdlApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>WSDL Generator Utility</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="ng-dialog/css/ngDialog.min.css" />
    <link rel="stylesheet" href="ng-dialog/css/ngDialog-theme-default.min.css" />
    <link rel="stylesheet" href="assets/style.css" />
</head>
<body>

    <div ng-view></div>

    <!-- Loading required libraries -->
    <script src="angular/angular.min.js"></script>
    <script src="angular-route/angular-route.min.js"></script>
    <script src="angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="ng-dialog/js/ngDialog.min.js"></script>
    <script src="lib/file/Blob.js"></script>
    <script src="lib/file/FileSaver.min.js"></script>
    <script src="lib/file/angular-file-saver.min.js"></script>
    <script src="lib/file/angular-file-saver.bundle.min.js"></script>

    <!-- Loading application js files -->
    <script src="appConfig/app.route.js"></script>
    <script src="appConfig/app.config.js"></script>
    <script src="app.js"></script>
    <script src="modules/home/home.ctrl.js"></script>
    <script src="modules/generate/generate.ctrl.js"></script>
    <script src="modules/requestElement/requestElement.ctrl.js"></script>
    <script src="modules/responseElement/responseElement.ctrl.js"></script>
    <script src="modules/requestMessage/requestMessage.ctrl.js"></script>
    <script src="modules/responseMessage/responseMessage.ctrl.js"></script>
    <script src="modules/operation/operation.ctrl.js"></script>
    <script src="modules/soapAddress/soapAddress.ctrl.js"></script>
    <script src="directives/layout.directive.js"></script>
    <script src="directives/validator.directives.js"></script>
    <script src="directives/wsdl.directives.js"></script>
    <script src="services/api.service.js"></script>
    <script src="services/wsdl.service.js"></script>
 
 
</body>
</html>