<!DOCTYPE html>
<html ng-app="wsdlApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>WSDL Generator Utility</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="ng-dialog/css/ngDialog.min.css" />
    <link rel="stylesheet" href="ng-dialog/css/ngDialog-theme-default.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>

    <div ng-view></div>

    <!-- Loading required libraries -->
    <script src="angular/angular.min.js"></script>
    <script src="angular-route/angular-route.min.js"></script>
    <script src="angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="ng-dialog/js/ngDialog.min.js"></script>
    <script src="js/lib/file/Blob.js"></script>
    <script src="js/lib/file/FileSaver.min.js"></script>
    <script src="js/lib/file/angular-file-saver.min.js"></script>
    <script src="js/lib/file/angular-file-saver.bundle.min.js"></script>

    <!-- Loading application js files -->
    <script src="js/appConfig/app.route.js"></script>
    <script src="js/appConfig/app.config.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/home.ctrl.js"></script>
    <script src="js/controllers/generate.ctrl.js"></script>
    <script src="js/controllers/requestElement.ctrl.js"></script>
    <script src="js/controllers/responseElement.ctrl.js"></script>
    <script src="js/controllers/requestMessage.ctrl.js"></script>
    <script src="js/controllers/responseMessage.ctrl.js"></script>
    <script src="js/controllers/operation.ctrl.js"></script>
    <script src="js/controllers/soapAddress.ctrl.js"></script>
    <script src="js/directives/layout.directive.js"></script>
    <script src="js/directives/validator.directives.js"></script>
    <script src="js/directives/wsdl.directives.js"></script>
    <script src="js/services/api.service.js"></script>
    <script src="js/services/wsdl.service.js"></script>
 
 
</body>
</html>