<!DOCTYPE html>
<html ng-app="wsdlApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>WSDL Generator Utility</title>
    <link rel="stylesheet" href="js/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>

    <div ng-view></div>

    <!-- Loading required libraries -->
    <script src="angular/angular.min.js"></script>
    <script src="angular-route/angular-route.min.js"></script>

    <!-- Loading application js files -->
    <script src="js/app.js"></script>
    <script src="js/controllers/generate.controller.js"></script>
    <script src="js/directives/header.directive.js"></script>
    <script src="js/directives/validator.directive.js"></script>
    <script src="js/services/wsdlApi.service.js"></script>
 
</body>
</html>