<script type="text/ng-template" id="requestElementDialog">
    <request-ele-tpl wsdl="wsdl" add-element="addElement(wsdl.wsdlObject.requestElements)" remove-element="removeElement(wsdl.wsdlObject.requestElements)"
    add="add()"></request-ele-tpl>
</script>

<script type="text/ng-template" id="responseElementDialog">
    <response-ele-tpl wsdl="wsdl" add="add()"></response-ele-tpl>
</script>


<script type="text/ng-template" id="requestMessageDialog">
    <request-msg-tpl wsdl="wsdl" add="add()"></request-msg-tpl>
</script>

<script type="text/ng-template" id="responseMessageDialog">
    <response-msg-tpl wsdl="wsdl" add="add()"></response-msg-tpl>
</script>

<script type="text/ng-template" id="operationDialog">
    <operation-tpl wsdl="wsdl" add="add()"></operation-tpl>
</script>

<script type="text/ng-template" id="soapAddrDialog">
    <soap-addr-tpl wsdl="wsdl" add="add()"></soap-addr-tpl>
</script>