<div  class="container generate-container">

    <app-header selected="generate"></app-header>

    <!-- To display error message -->
    <div ng-cloak ng-if="me.hasError">
        <ng-include src="'views/error.tpl.html'"></ng-include>
    </div>
    

    <div class="row form-div" >
        <form role="form" ng-submit="generateWsdl()">

            <div class="col-lg-8">
            <h2 ><strong>Generate WSDL</strong></h2>
            <br>
                <div class="form-control form-input-div">
                    <label class="form-input-text" for="serviceName">Web Service Name</label>
                    <input type="text" class="form-input-box form-control"  name="serviceName" ng-model= "me.wsdlObject.serviceName" id="serviceName" placeholder="Enter Service Name" >
                </div>
                <div class="form-control form-input-div">
                    <label class="form-input-text" for="targetNamespace">Target Namespace</label>
                    <div class="input-group">
                        <input type="text" class="form-input-box form-control readonlyClass" readonly  id="targetNamespace" name="targetNamespace" ng-model = "me.wsdlObject.targetNamespace">
                    </div>
                </div>
                
                <br>
                <div class="float-left margin-left-10perc">
                    <input type="button"  id="requestEle" value="Add Request Element" class="btn btn-primary">
                </div>
                <div class="float-left margin-left-10perc">
                    <input type="button"  id="responseEle" value="Add Response Element" class="btn btn-primary">
                </div>
                <div class="clear-both"></div>
                
                <br>
                <div class="float-left margin-left-10perc">
                    <input type="button"  id="requestEle" value="Add Request Message" class="btn btn-primary">
                </div>
                <div class="float-left margin-left-10perc">
                    <input type="button"  id="responseEle" value="Add Response Message" class="btn btn-primary">
                </div>
                <div class="clear-both"></div>
                
                <br>
                <div class="textalign-center">
                    <input type="button"  id="generate" value="Generate" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>

   
</div>
